.text {
	color: var(--gray-1);
	&.weightLight {
		font-weight: 300;
		& strong {
			font-weight: 600;
		}
	}
	&.weightMedium {
		font-weight: 400;
		& strong {
			font-weight: 700;
		}
	}
	&.weightHeavy {
		font-weight: 500;
		& strong {
			font-weight: 700;
		}
	}
	&p, &span, &li {
		line-height: 1.6em;
		font-size: 20px;
	}
	&h1, &h2, &h3, &h4, &h5, &h6 {
		line-height: 1em;
	}
	&h1 {
		font-size: 52px;
	}
	&h2 {
		font-size: 40px;
	}
	&h3 {
		font-size: 30px;
	}
	&h4 {
		font-size: 26px;
	}
	&h5 {
		font-size: 20px;
	}
	&h6 {
		font-size: 18px;
	}
	& > code {
		background: var(--gray-8);
		border: 1px solid var(--gray-6);
		border-radius: 4px;
		padding: 1px 6px;
		margin: -1px 0;
		color: #cf3636;
		font-size: 16px;
	}
}
