.rootLayout {
  font-family: var(--pretendard-variable);

  & a {
		color: var(--gray-9);
  }

  & table {
    & th, td {
		  color: var(--gray-9);
      text-align: left;
      padding-right: 28px;
    }
  }
}
