.tabbedTerminalsSection {

  & .content {
    border: 1px solid var(--gray-2);
    border-radius: 10px;
    padding: 100px 0 100px 50px;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    & .tabs {
      margin-top: 62px;
      list-style: none;

      & > li {
        margin-left: -24px;
        margin-right: -24px;
        padding: 30px 24px;
        &:hover {
          cursor: pointer;
          background: var(--gray-1);
        }
        &:not(:last-of-type) {
          border-bottom: 1px solid var(--gray-2);
        }

        --header-items-color: var(--gray-5);
        &:hover,&.active {
          --header-items-color: var(--gray-9);
        }
        & .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          & > * {
            transition: color .25s;
            color: var(--header-items-color);
          }
        }

        & .description {
          margin-top: 14px;
          color: var(--gray-9)
        }
      }
    }

    & .spotlight {
      margin-left: 108px;
      margin-right: -20px;
      margin-top: 55px;
      @media(max-width: 1100px) {
        display: none;
      }
    }
  }
}
