.terminalCardsSection {
  & .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    & .title {
      max-width: 500px;
    }
    & .description {
      max-width: 500px;
    }
    @media(max-width: 1100px) {
      flex-direction: column;
      margin-bottom: 32px;
      & .title {
        max-width: 100%;
      }
      & .description {
        margin-top: 12px;
        max-width: 100%;
      }
    }
  }
}

.cards {
  --gap: 20px;
  --cols: 3;
  @media(max-width: 1100px) {
    --cols: 2;
  }
  @media(max-width: 768px) {
    --cols: 1;
  }
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);

  & > li {
    --flex-basis: calc((100% / var(--cols)) - (var(--gap) * (var(--cols) - 1)) / var(--cols));
    flex-basis: var(--flex-basis);
    max-width: var(--flex-basis);
    & .terminalWrapper {
      border: 1px solid var(--gray-2);
      border-radius: 10px;
      height: 280px;
      overflow: hidden;
      & .terminal {
        margin-top: 40px;
        margin-left: 40px;
        @media(max-width: 1100px) {
          margin-top: 28px;
          margin-left: 28px;
          min-width: 100%;
        }
      }
    }
    & .title {
      margin-top: 32px;
    }
    & .description {
      margin-top: 6px;
    }
  }
}
