.terminal {
  --code-margin-top: 12px;
  --control-size: 12px;
  --padding: 7px;

  /* Mac's traffic light button colors */
  --color-sunset-orange: #ff605c;
  --color-pastel-orange: #ffbd44;
  --color-malachite: #00ca4e;

  &.fontXTiny {
    --title-font-size: 12px;
    --content-font-size: 6px;
    --content-character-width: 3.6px;
    --content-character-height: 9px;
  }
  &.fontTiny {
    --title-font-size: 14px;
    --content-font-size: 10px;
    --content-character-width: 6px;
    --content-character-height: 13.8px;
  }
  &.fontSmall {
    --title-font-size: 14px;
    --content-font-size: 12px;
    --content-character-width: 7.2px;
    --content-character-height: 16.6px;
  }
  &.fontMedium {
    --title-font-size: 16px;
    --content-font-size: 14px;
    --content-character-width: 8.4px;
    --content-character-height: 19.1px;
  }
  &.fontLarge {
    --title-font-size: 16px;
    --content-font-size: 16px;
    --content-character-width: 9.6px;
    --content-character-height: 21.5px;
  }

  width: calc((var(--columns) * var(--content-character-width)) + (2 * var(--padding)) + 2px);
  height: calc((var(--rows) * var(--content-character-height)) + (2 * var(--padding)) + var(--control-size) + var(--code-margin-top) );
  background: var(--gray-0);
  border: 1px solid var(--gray-3);
  border-radius: 10px;
  padding: var(--padding);

  display: flex;
  flex-direction: column;

  & .header {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;

    & .windowControls {
      list-style: none;
      display: flex;
      gap: 8px;

      & li {
        width: var(--control-size);
        height: var(--control-size);
        border-radius: var(--control-size);
        background: var(--gray-3);
      }
    }
    & .title {
      position: absolute;
      left: 50%; transform: translateX(-50%);
      font-size: var(--title-font-size);
      top: 1px;
    }
  }

  & .content {
    font-size: var(--content-font-size);
    margin-top: var(--code-margin-top);
    color: var(--gray-6);
    word-wrap: break-word;
    scroll-behavior: smooth;
    overflow-y: scroll;
    &.disableScrolling {
      overflow-y: hidden;
    }
    & > div {
      white-space: pre-wrap;
      & :global(.b) {
        color: var(--brand-color);
      }
    }
  }

  &:focus {
    & .header {
      & .windowControls {
        & li:first-child {
          background: var(--color-sunset-orange);
        }
        & li:nth-child(2) {
          background: var(--color-pastel-orange);
        }
        & li:last-child {
          background: var(--color-malachite);
        }
      }
    }
  }
}
