* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background: color-mix(in srgb, var(--brand-color) 60%, transparent);
}

html,
body {
  max-width: 100vw;
  background: var(--gray-0);
}

html,
body {
  /* The total height of the header, including all padding, etc.
    this is needed to calculate sticky positioning for other elements. */
  --header-height: 72px;
  --footer-height: 87px;

  max-width: 100vw;
  --brand-color: #3551F3;
  --brand-color-hsl: 240 100% 45%;
  --gray-0: #0F0F11; /* Background color */
  --gray-1: #16161A; /* Blocks */
  --gray-2: #242428; /* HRs */
  --gray-3: #4C4C50; /* Unfocused Font, Code Background */
  --gray-4: #828286; /* Body Font */
  --gray-5: #959597;
  --gray-6: #c3c3c4;
  --gray-7: #dbdbdc;
  --gray-8: #eaeaeb;
  --gray-9: #F0F0F4; /* Header Font */
  --black: #000;
  --white: #fff;
  --form-border-radius: 6px;
  --form-box-shadow:
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(55, 55, 55, 0.15) 0px 1px 2px 0px;

  --callout-note: #61aeee;
  --callout-tip: #98c379;
  --callout-important: #c678dd;
  --callout-warning: #e6c07b;
  --callout-caution: #e06c75;
}

/* This a slightly modified atom-one-dark theme */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: var(--gray-1);
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
