.docsPage {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  max-width: 100%;

  --sidebar-min-width: 320px;

  & .sidebar {
    width: var(--sidebar-min-width);

    @media (max-width: 784px) {
      display: none;
    }

    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    border-right: 1px solid var(--gray-2);
    position: sticky;
    top: var(--header-height);
    max-height: calc(100vh - var(--header-height));
    min-height: calc(100vh - var(--header-height) - var(--footer-height));

    & .sidebarContentWrapper {
      padding: 24px 14px;

      &>.sidebarNavTree {
        padding: 2px;
        /* guarantee space for focus border */
        height: 100%;
      }
    }
  }

  & .breadcrumbsBar {
    padding: 30px 0;
    border-bottom: 1px solid var(--gray-2);
  }

  & .heading {
    padding: 30px 0;
    border-bottom: 1px solid var(--gray-2);

    & .description {
      color: var(--gray-5);
    }
  }

  & .scrollToTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--gray-2);
    color: var(--gray-9);
    border-radius: 5px;
    border: none;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background .2s;
    z-index: 10;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--gray-3);
    }
  }

  & .contentWrapper {
    display: flex;
    flex-direction: column;
    margin: 38px auto 88px auto;
    padding: 0 24px;
    max-width: min(800px, calc(100vw - var(--sidebar-min-width)));
    flex-grow: 1;

    @media (max-width: 784px) {
      max-width: 100%;
      margin: 24px auto 54px auto;
    }
  }
}
