.docsPage {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  max-width: 100%;

  --sidebar-min-width: 240px;
  & .sidebar {
    min-width: var(--sidebar-min-width);
    @media (max-width: 784px) {
      display: none;
    }
    & .sidebarContentWrapper {
      position: sticky;
      top: var(--header-height);
      height: calc(100vh - var(--header-height));
      border-right: 1px solid var(--gray-6);
      & > .sidebarNavTree {
        height: 100%;
      }
    }
  }

  & .heading {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--gray-6);
  }

  & .contentWrapper {
    display: flex;
    flex-direction: column;
    margin: 88px auto;
    padding: 0 24px;
    max-width: min(800px, calc(100vw - var(--sidebar-min-width)));

    @media (max-width: 784px) {
      max-width: 100%;
      margin: 54px auto;
    }
  }
}
