.sidecar {
  --left-padding: 12px;
  --base-depth: 2; /* H1's & H2's will have standard padding */
  --depth-padding: 8px; /* Additional padding for each header number above H2 */

  & ul {
    list-style: none;
    & li {
      --item-color: var(--gray-4);
      &:hover {
        --item-color: var(--gray-6);
      }
      &.active {
        --item-color: var(--gray-8);
      }
      border-left: 2px solid var(--item-color);
      padding: 2px 0;
      padding-left: calc(
        var(--left-padding) + (
          (max(var(--depth), var(--base-depth)) - (var(--base-depth) - 1))
          * var(--depth-padding)
        )
      );
      & p {
        color: var(--item-color);
      }
      & a {
        text-decoration-line: none;
        text-decoration-color: var(--item-color);
        &:hover {
          text-decoration-line: underline;
        }
      }
      &.active a {
        text-decoration-line: underline;
      }
    }
  }
}
