.sidecar {
  --left-padding: 12px;

  & .title {
    padding-left: var(--left-padding);
    margin-bottom: 20px;
  }

  & ul {
    list-style: none;
    & li {
      --item-color: var(--gray-4);
      &:hover {
        --item-color: var(--gray-6);
      }
      &.active {
        --item-color: var(--gray-8);
      }
      border-left: 2px solid var(--item-color);
      padding: 2px 0;
      padding-left: var(--left-padding);
      & p {
        color: var(--item-color);
      }
      & a {
        text-decoration-line: none;
        text-decoration-color: var(--item-color);
        &:hover {
          text-decoration-line: underline;
        }
      }
      &.active a {
        text-decoration-line: underline;
      }
    }
  }
}
