.customMDX {
  & > p {
    margin: 0.8em 0;
  }
  & a {
    color: var(--brand-color);
  }
  & > ul, & > ol {
    padding-left: 42px;
    margin: 16px 0;
  }
  & .image {
    max-width: 100%;
    border: 1px solid var(--gray-5);
    margin: 32px auto;
    display: block;
  }
}
