.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  height: var(--header-height);
  background: var(--gray-0);
  border-bottom: 1px solid var(--gray-2);

  & .gridContainer {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .desktopLinks {
      display: flex;
      align-items: center;
      @media(max-width: 768px) {
        display: none;
      }

      & .linkList {
        list-style: none;
        display: flex;
        gap: 30px;
        & a {
          color: var(--gray-5);
          text-decoration: none;
          &.active {
            text-decoration: underline;
          }
          &:hover {
            color: var(--gray-9);
          }
        }
      }

      & .cta {
        margin-left: 30px;
      }
    }

    & .menuToggle {
      display: none;
      @media(max-width: 768px) {
        display: block;
      }
      color: var(--white);
      cursor: pointer;
    }
  }

  & .mobileContent {
    display: none;
    &.mobileMenuOpen {
      display: block;
    }
    background: var(--gray-0);
    height: calc(100vh - var(--header-height));
    border-top: 1px solid var(--gray-2);
    padding: 24px;
  }
}
