.vtsequence {
  display: flex;
  width: fit-content;
  font-family: var(--jetbrains-mono);

  /* adjust bottom margin since there's text content and fonts have padded capsizes */
  margin: 32px 0 calc(32px - 0.5em) 0;
  list-style: none;
  margin: 0;
  padding-left: 0 !important;

  & .vtelem {
    text-align: center;
    border: 1px solid var(--gray-3);
    border-right-width: 0;

    &:last-child {
      border-right-width: 1px;
    }

    & dt, 
    & dd {
      padding: 5px 12px;
    }

    & dt {
      color: var(--gray-4);
      background: var(--gray-1);
      border-bottom: 1px solid var(--gray-2);
    }

    & dd {
      color: var(--gray-9);
    }
  }
}
