.vtsequence {
  --sequence-border: 1px solid var(--gray-3);

  margin: 32px 0 calc(32px - 0.5em) 0;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  & .unimplemented {
    font-family: var(--jetbrains-mono);
    font-size: 14px;
    background: var(--atom-one-red);
    color: var(--gray-0);
    border-left: var(--sequence-border);
    border-right: var(--sequence-border);
    border-top: var(--sequence-border);
    padding: 5px 12px;
    display: flex;
    justify-content: center;
    & .alert {
      margin-right: 4px;
    }
  }

  & .sequence {
    flex-grow: 1;
    width: 100%;
    display: flex;
    font-family: var(--jetbrains-mono);
    list-style: none;

    & .vtelem {
      flex-grow: 1;
      text-align: center;
      border: var(--sequence-border);
      border-right-width: 0;

      &:last-child {
        border-right-width: 1px;
      }

      & dt,
      & dd {
        padding: 5px 12px;
      }

      & dt {
        color: var(--gray-6);
        background: var(--gray-1);
        border-bottom: 1px solid var(--gray-2);
      }

      & dd {
        color: var(--gray-9);
      }
    }
  }
}
