.callout {
  &.note {
    --callout-color: #61aeee;
  }
  &.tip {
    --callout-color: #98c379;
  }
  &.important{
    --callout-color: #c678dd;
  }
  &.warning{
    --callout-color: #e6c07b;
  }
  &.caution{
    --callout-color: #e06c75;
  }
  border-left: 3px solid var(--callout-color);

  & .header {
    display: flex;
    flex-align: center;
    margin-bottom: 14px;
    color: var(--callout-color);
    & .icon {
      margin-right: 8px;
    }
  }
}
