.link {
  display: flex;
  align-items: center;
  & svg {
    margin-left: 4px;
    & path {
      transition-duration: .1s;
      transition-timing-function: ease-in-out;
    }
  }
  &:hover {
    & svg {
      /* Note: This is targeting the arrow paths. It's possible
      that the path order changes and this breaks, but it seems
      unlikely enough to justify adding this nice polish. */
      & path:not(:first-of-type) {
        transform: translate(2px,-2px);
      }
    }
  }
}
